:root {
    --green:rgb(20, 170, 55);
    --lemon: rgb(247, 238, 106);
    --light-blue: rgb(117, 208, 241);
    --pink: rgb(237, 155, 196);
    --purple: rgb(152, 98, 151);
    --light-green: rgb(190, 210, 118);
    --warm-yellow: rgb(255,193, 30);
    --bright-pink: rgb(207, 98, 151);
    --red: rgb(220, 79, 0);
    --dark-blue: rgb(56, 96, 170);
    --angry: rgb(200, 0, 130);
}

html, body {
    color: black;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.body {
}

* {
    box-sizing: border-box;
}

#categoryImageWrapper {
    position: absolute;
    z-index: -1;
    display: flex;
    min-height: 100%;
    align-items: stretch;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#categoryImageWrapper::after {
    min-height: 100%;
}

#categoryImage {
    /*height: 100%;*/
    width: 100vw;
    content: "";
    background-repeat: no-repeat no-repeat;
    background-size: 50vw;
    background-position: right center;
    background-attachment: fixed;
    /*position: absolute;*/
    /*z-index: -1;*/
    /*display: block;*/
    opacity: 0.5;
}

#categoryImage::after {
}

body {
    background-color: var(--light-blue);
}

.malpracticeImage {
    object-fit: contain !important;
}

.collapsible, .collapsible-header {
    background-color: var(--dark-blue);
}

.collapsible {
    border: 0px solid #ddd;
    color: white;
}

.collapsible-body {
    border-bottom: 0px solid var(--dark-blue);
}

.collapsible-header {
    border-bottom: 0px solid #ddd;
}

#backgroundImage {
    min-height: 100vh;
    display: block;
    position: relative;
}

#backgroundImage::after {
    content: "";
    background: url("https://rebellion.global/assets/img/wood-blocks/skull-charcoal.svg");
    background-size: 75px 75px;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

.category-card {
    height: 300px;
    overflow: hidden;
}

.card-image {
    height: inherit;
}

.category-image {
    max-width: 95% !important;
    width: auto !important;
    max-height: 280px;
    opacity: 25%;
    vert-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 25px;
}

.card-title {
    color: black !important;
}

#workingConditions {
    background-color: var(--lemon);
}

#climateEnvironment {
    background-color: var(--pink);
}

#health {
    background-color: var(--light-green);
}

#animalWelfare {
    background-color: var(--bright-pink);
}

#localCommunity {
    background-color: var(--purple);
}

.language-link, .title-link {
    color: black;
}

#currentCategory {
    word-wrap: break-word;
}
